*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
../student_ai_helper/
../Android ChatBot Final/
../BookShelf/
../CryptoTracker/
../CryptoTracker-initial/
../DrawApp/
../ECommerceApp/
../EditorPhoto/
../ExchangeApp/
../FoxProject/
../InstaCloneApp/
../Let-s-Call-App/
../LetsChat/
../LifeCycleTutorial/
../MapTracker/
../MyAppAvia/
../MyCallApp/
../MyfirstApplication/
../Quizy/
../SchoolDiaryApp/
../ShopAppTestProject/
../TodoBLoCApp/
../UiApp/
../api_project_flutter/
../bilim/
../cameraxproject/
../custom_crossword/
../flutter-movie-app/
../millionaire/
../simple-calculator-v2/
../simple-calculator-v2.7z

../student_helper/
../test_app/
